<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>

<!-- Stack the columns on mobile by making one full-width and the other half-width -->
<div class="row">
  <div class="col-xs-12 col-md-8">One</div>
  <div class="col-xs-6 col-md-4">Two</div>
</div>
<!-- Columns start at 50% wide on mobile and bump up to 33.3% wide on desktop -->
<div class="row">
  <div class="col-xs-6 col-md-4">One</div>
  <div class="col-xs-6 col-md-4">Two</div>
  <div class="col-xs-6 col-md-4">Three</div>
</div>