<div class="full-block team-hero">
    <div class="wrapper">
        <div class="column-14">
            <h1>We send you customer requests. You choose when to quote.</h1>
        </div>

        <div class="column-12 body-text">
            <p>
                Thumbtack helps you find new customers and grow your business. The process is
                simple. Customers tell us about their needs and we send you the details of their
                requests (for free). If it looks like a fit, you respond with a custom quote and
                work out details with the customer.
            </p>

                            <p>
                    <a href="/pro" class="bttn blue">Sign Up</a>
                </p>
                    </div>
    </div>
</div>

<div class="full-block steps one">
    <div class="wrapper">
        <h2>How does Thumbtack work?</h2>

        <div class="dynamic-row">
            <div class="step-number">01</div>
            <div class="description">
                <h3>We send you customer requests</h3>
                <ul class="body-text">
                    <li>
                        <span class="icon-font icon-font-check" aria-hidden="true"></span>
                        <p>
                            Customers come to Thumbtack looking to hire professionals to help
                            them accomplish their personal projects
                        </p>
                    </li>
                    <li>
                        <span class="icon-font icon-font-check" aria-hidden="true"></span>
                        <p>
                            They answer specific questions about their needs
                        </p>
                    </li>
                    <li>
                        <span class="icon-font icon-font-check" aria-hidden="true"></span>
                        <p>
                            We review every customer request to ensure it's legitimate
                        </p>
                    </li>
                </ul>
            </div>

            <div class="image">
                <img src="https://static.thumbtackstatic.com/media/primo/static/how-works/step1.jpg"
                     alt="Submitting Request"/>
            </div>
        </div>
    </div>
</div>

<div class="full-block steps light-gray">
    <div class="wrapper">
        <div class="dynamic-row">
            <div class="step-number">02</div>
            <div class="description">
                <h3>You decide who to respond to</h3>
                <ul class="body-text">
                    <li>
                        <span class="icon-font icon-font-check" aria-hidden="true"></span>
                        <p>
                            We send the customer request via email or text message to experienced
                            professionals like you
                        </p>
                    </li>
                    <li>
                        <span class="icon-font icon-font-check" aria-hidden="true"></span>
                        <p>
                            If you are interested and qualified, you can respond by sending a quote
                        </p>
                    </li>
                </ul>
            </div>

            <div class="image">
                <img src="https://static.thumbtackstatic.com/media/primo/static/how-works/step2.jpg"
                     alt="Request Submitted"/>
            </div>
        </div>
    </div>
</div>

<div class="full-block steps">
    <div class="wrapper">
        <div class="dynamic-row">
            <div class="step-number">03</div>
            <div class="description">
                <h3>Send a quote</h3>
                <ul class="body-text">
                    <li>
                        <span class="icon-font icon-font-check" aria-hidden="true"></span>
                        <p>
                            Your custom quote includes a personal message and a price estimate
                        </p>
                    </li>
                    <li>
                        <span class="icon-font icon-font-check" aria-hidden="true"></span>
                        <p>
                            We automatically send your Thumbtack profile containing past work, your
                            qualifications, contact information, and reviews with your quote
                        </p>
                    </li>
                    <li>
                        <span class="icon-font icon-font-check" aria-hidden="true"></span>
                        <p>
                            You only pay to send a quote
                        </p>
                    </li>
                </ul>
            </div>

            <div class="image">
                <img src="https://static.thumbtackstatic.com/media/primo/static/how-works/step3.jpg"
                     alt="Request Submitted"/>
            </div>
        </div>
    </div>
</div>

<div class="full-block steps light-gray">
    <div class="wrapper">
        <div class="dynamic-row">
            <div class="step-number">04</div>
            <div class="description">
                <h3>Get hired, and let us know!</h3>
                <ul class="body-text">
                    <li>
                        <span class="icon-font icon-font-check" aria-hidden="true"></span>
                        <p>
                            Typically 1&ndash;2 other professionals will also respond. The customer
                            compares quotes and decides who to contact
                        </p>
                    </li>
                    <li>
                        <span class="icon-font icon-font-check" aria-hidden="true"></span>
                        <p>
                            You and the customer work out the details through Thumbtack, over the
                            phone, or in person
                        </p>
                    </li>
                    <li>
                        <span class="icon-font icon-font-check" aria-hidden="true"></span>
                        <p>
                            When you're hired, please let us know and improve your chances of
                            winning your next customer!
                        </p>
                    </li>
                </ul>
            </div>

            <div class="image">
                <img src="https://static.thumbtackstatic.com/media/primo/static/how-works/step4.jpg"
                     alt="Request Submitted"/>
            </div>
        </div>
    </div>
</div>

<a id="get-hired"></a>
<div class="wrapper topics">
    <h2>How do I get hired?</h2>
    <div class="wrapper">
        <div class="dynamic-row">


            <div class="write">
                <h3>Write clear and professional messages.</h3>
                <p>
                    Your message is the customer's first impression of you. Make it a good one! Be
                    sure to address any issues the customer raised and respond to their specific
                    needs. Set a competitive price and be clear what your price includes and what
                    you can or cannot do. Finally, pay attention to the small things: address the
                    customer by name, make sure not to make spelling or grammar mistakes, and sign
                    your name at the end.
                </p>
            </div>

            <div class="estimate">
                <h3>Give an estimate.</h3>
                <p>
                    Customers are more likely to hire professionals who provide a basic idea of
                    price. Your quote doesn't have to be a final number; it can change as you learn
                    more about the job. Tell customers exactly what the quote includes. Then let
                    customers know how the price may change and what the variables are. If
                    applicable, offer to match others on price for the same tasks. Or if you quoted
                    a higher price than industry norm, explain why.
                </p>
            </div>

            <div class="reviews">
                <h3>Get reviews</h3>
                <p>
                    Professionals with 1 review get hired 66% more than pros with no reviews.
                    Professionals with 5 or more reviews get hired 75% more than pros with no
                    reviews. Customers show us <a href="/profile/reviews">reviews</a> are a major
                    factor in their decision of who to hire. Take the time to ask your customers to
                    write reviews. Nobody is perfect 100% of the time. In fact, research has shown
                    that reviews that are not 100% positive are more credible.
                </p>
            </div>

            <div class="build">
                <h3>Build a winning profile.</h3>
                <p>
                    Customers are looking for experienced professionals. Your profile is where you
                    show them that you're the one for the job.
                </p>

                <p>
                    Make an emotional connection with the customer by adding a photo of yourself
                    &ndash; be sure to show your smiling face. Exhibit what you can do by including
                    images and videos of your past work. Consider using a
                    <a href="/k/business-photographers/near-me/">
                        professional photographer</a>
                    to really show off your work.
                </p>

                <p>
                    Then, demonstrate your expertise and credentials by describing your experience
                    and skills. And build trust by adding a professional license, doing a
                    background check, or linking to your website and social media profiles.
                </p>
            </div>

            <div class="give">
                <h3>Don't give up!</h3>
                <p>
                    Many pros have doubled or even tripled the size of their businesses by simply
                    responding consistently to customer requests. For a majority of pros on
                    Thumbtack, it takes around 10 tries to get their first hire. You can succeed,
                    too &ndash; by being persistent and experimenting to see what works. Write
                    different types of messages; ignore requests that don't seem like a good fit
                    &ndash; learn what works for you.
                </p>
            </div>
        </div>

        <p class="footer-text">
            <a href="/pro">Sign up now and grow your business.</a>
        </p>
    </div>
</div>