.AttributionSurvey,
.Modal-content {
    background: #fafafa;
    border-radius: 4px;
    width: 85%;
    max-width: 600px;
    margin: 0 auto
}

.Modal-content {
    min-width: 280px
}

.Modal-section {
    padding: 0 32px
}

@media only screen and (max-width:1023px) {
    .Modal-section.responsive-section {
        padding: 0
    }
}

.Modal-section.copy-section {
    padding-top: 20px;
    padding-bottom: 20px
}

.Modal-section.title-section {
    text-align: center;
    padding-top: 74px;
    padding-bottom: 50px
}

.Modal-section.img-title-section {
    text-align: center;
    padding-top: 40px;
    padding-bottom: 10px
}

.Modal-section.title-with-content-section {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 40px
}

.Modal-section.content-section {
    text-align: justify;
    padding-bottom: 20px
}

.Modal-section.button-section {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 32px
}

@media only screen and (min-width:480px) {
    .Modal-section.button-section {
        padding-top: 28px
    }
}

.Modal-section.button-section .Link {
    line-height: 48px
}

.Modal-section.single-button-section {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 32px
}

.Modal-section.error-section {
    text-align: center;
    color: #ff3600;
    padding-top: 10px;
    padding-bottom: 10px
}

.Modal-section.cancel-section {
    padding: 16px 0
}

.AttributionSurvey {
    min-width: 320px
}

.AttributionSurvey:not(:first-of-type) {
    margin-top: 20px
}

.AttributionSurvey-validationError {
    color: #ff4847;
    text-align: center
}

.AttributionSurvey-surveyTitle {
    margin-top: 32px;
    margin-bottom: 32px;
    text-align: center
}

.AttributionSurvey-surveySubmit {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 24px;
    margin-bottom: 32px
}

.CategoryCarousel {
    margin: 0 auto;
    display: flex
}

.CategoryCarousel-paddle {
    display: none
}

.CategoryCarousel-container {
    overflow-x: hidden;
    flex: 1 1 0
}

.CategoryCarousel-container .ServiceBox-item {
    margin: 0
}

.CategoryCarousel-list {
    display: flex;
    position: relative;
    left: 0;
    margin-left: -8px
}

@media only screen and (max-width:767px) {
    .CategoryCarousel-list {
        margin-left: -6px
    }
}

@media only screen and (max-width:479px) {
    .CategoryCarousel-container {
        overflow-x: scroll;
        -webkit-overflow-scrolling: touch
    }
    .CategoryCarousel-list {
        margin-left: 0
    }
    .CategoryCarousel-list:after,
    .CategoryCarousel-list:before {
        content: "";
        display: block;
        width: 15px;
        flex: 0 0 15px
    }
}

.CategoryCarousel-item {
    display: flex;
    padding: 0 8px;
    flex-base: content;
    flex-shrink: 0;
    flex-grow: 0
}

@media only screen and (max-width:767px) {
    .CategoryCarousel-item {
        padding: 0 6px
    }
}

@media only screen and (max-width:479px) {
    .CategoryCarousel-item.item-cloned {
        display: none
    }
}

@media only screen and (min-width:480px) {
    .CategoryCarousel-paddle {
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 0 0 auto;
        width: 80px;
        fill: #8d9494;
        cursor: pointer;
        -webkit-tap-highlight-color: transparent;
        -webkit-touch-callout: none
    }
    .CategoryCarousel-paddle.paddle-left {
        margin-left: -80px
    }
}

@media only screen and (min-width:480px) {
    .CategoryCarousel-paddle.paddle-right {
        margin-right: -80px
    }
    .CategoryNavV2-category {
        height: 166px
    }
}

@media only screen and (min-width:480px) and (max-width:1023px) {
    .CategoryCarousel-paddle {
        width: 50px
    }
    .CategoryCarousel-paddle.paddle-left {
        margin-left: -50px
    }
    .CategoryCarousel-paddle.paddle-right {
        margin-right: -50px
    }
}

.Moments {
    background-color: #fafafa;
    padding-top: 76px;
    padding-bottom: 32px
}

.Moments.theme-explore {
    background: 0 0;
    padding-top: 24px
}

@media only screen and (max-width:767px) {
    .Moments {
        padding-top: 48px;
        padding-bottom: 12px
    }
}

.Moments-container {
    max-width: 1200px;
    margin: 0 auto
}

.Moments-moment {
    margin-bottom: 32px
}

.Moments-moment-title {
    margin-bottom: 24px;
    text-align: left
}

@media only screen and (max-width:479px) {
    .Moments {
        padding-top: 32px;
        padding-bottom: 24px
    }
    .Moments-moment,
    .Moments-moment-title {
        margin-bottom: 16px
    }
}

.CategoryNavV2 {
    padding-top: 48px;
    padding-bottom: 48px;
    background-color: #fafafa
}

.CategoryNavV2.theme-explore {
    padding-top: 72px;
    padding-bottom: 80px
}

.CategoryNavV2-title {
    text-align: center;
    margin-bottom: 20px
}

.theme-explore.CategoryNavV2 .CategoryNavV2-title {
    text-align: left
}

.CategoryNavV2-category {
    text-align: center;
    position: relative
}

@media only screen and (max-width:479px) {
    .CategoryNavV2-category {
        height: 54px;
        background-color: #fff;
        border-top: 1px solid #e1e3e3;
        border-left: 1px solid #e1e3e3;
        border-right: 1px solid #e1e3e3
    }
    .CategoryNavV2-category:first-child {
        border-radius: 4px 4px 0 0
    }
    .CategoryNavV2-category:last-child {
        border-bottom: 1px solid #e1e3e3;
        border-radius: 0 0 4px 4px
    }
}

.CategoryNavV2-category-link {
    background-color: #fff;
    color: #4e4d4d;
    display: block;
    position: relative;
    line-height: 1
}

.CategoryNavV2-category-link svg {
    fill: #4e4d4d
}

.CategoryNavV2-category-link-logo {
    display: block
}

@media only screen and (min-width:480px) {
    .CategoryNavV2-category-link {
        height: 150px;
        box-shadow: 0 2px 6px 0 rgba(49, 47, 47, .1);
        border-radius: 4px;
        padding-top: 34px;
        transition: all .1s ease-in-out
    }
    .CategoryNavV2-category-link-logo {
        margin: auto
    }
}

@media only screen and (max-width:479px) {
    .CategoryNavV2-category-link {
        height: 100%;
        padding-top: 15px;
        padding-left: 4px;
        padding-right: 22px;
        text-align: left;
        position: relative
    }
    .CategoryNavV2-category-link-logo {
        position: absolute
    }
    .CategoryNavV2-category-link-label {
        line-height: 24px;
        margin-left: 32px;
        height: 24px;
        overflow: hidden;
        white-space: nowrap
    }
}

.CategoryNavV2-category-link-label {
    text-overflow: ellipsis;
    display: block
}

@media only screen and (max-width:479px) {
    .CategoryNavV2-category-link-expand {
        display: block;
        position: absolute;
        right: 0;
        top: 15px
    }
}

.CategoryNavV2-category-link:hover {
    color: #f27802
}

.CategoryNavV2-category-link:hover svg {
    fill: #f27802
}

.CategoryNavV2-category-moreLink {
    padding-top: 32px;
    text-align: center;
    display: block
}

@media only screen and (min-width:480px) {
    .CategoryNavV2-category-link-label {
        margin-top: 20px;
        text-align: center
    }
    .CategoryNavV2-category-link:hover {
        box-shadow: 0 5px 15px 0 rgba(49, 47, 47, .25);
        -webkit-transform: scale(1.05, 1.05);
        transform: scale(1.05, 1.05)
    }
    .CategoryNavV2-category[responsive-if=below-xs] {
        display: none
    }
}

.ServiceBox-container {
    width: 100%;
    display: flex;
    flex-direction: column
}

.ServiceBox-container.theme-carousel {
    width: 262px;
    flex: 1 0 262px
}

@media only screen and (max-width:767px) {
    .ServiceBox-container.theme-carousel {
        width: 182px;
        flex: 1 0 182px
    }
}

.ServiceBox-item {
    display: flex;
    margin-bottom: 24px;
    flex-direction: column;
    flex-grow: 1;
    border: 1px solid #e6f0f2;
    border-radius: 4px
}

.ServiceBox-item-image {
    height: 170px;
    position: relative;
    background-size: cover;
    background-color: #f7fafb;
    border-radius: 4px 4px 0 0
}

.theme-carousel .ServiceBox-item-image {
    height: 168px
}

@media only screen and (max-width:767px) {
    .theme-carousel .ServiceBox-item-image {
        height: 112px
    }
}

.ServiceBox-item-overlay {
    position: absolute;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
    display: none;
    background: rgba(51, 51, 51, .25);
    border-radius: 4px 4px 0 0
}

.ServiceBox-item-cta {
    z-index: 1;
    max-width: 70%
}

.ServiceBox-item-label {
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: center;
    padding: 12px 8px;
    text-align: center;
    white-space: normal;
    background: #FFF;
    border-radius: 0 0 4px 4px
}

.theme-carousel .ServiceBox-item-label {
    text-align: left;
    padding: 16px;
    justify-content: flex-start;
    white-space: nowrap
}

@media only screen and (max-width:767px) {
    .theme-carousel .ServiceBox-item-label {
        padding: 10px 15px
    }
}

.theme-carousel .ServiceBox-item-label span {
    text-overflow: ellipsis
}

.ServiceBox-item-label span {
    overflow: hidden;
    max-height: 66px;
    color: #333
}

@media only screen and (min-width:480px) {
    .ServiceBox-item:hover .ServiceBox-item-overlay {
        display: flex
    }
}

@media only screen and (max-width:479px) {
    .theme-smaller .ServiceBox-item-image {
        height: 100px
    }
    .theme-smaller .ServiceBox-item-label {
        padding: 8px
    }
}

.ServiceCarousel {
    margin: 0 auto;
    display: flex
}

.ServiceCarousel-paddle {
    display: none
}

.ServiceCarousel-container {
    overflow-x: hidden;
    flex: 1 1 0
}

.ServiceCarousel-container .ServiceBox-item {
    margin: 0
}

.ServiceCarousel-list {
    display: flex;
    position: relative;
    left: 0;
    transition: left 1s ease
}

.ServiceCarousel-card {
    padding: 0 8px;
    display: flex
}

@media only screen and (min-width:768px) {
    .ServiceCarousel-card {
        min-width: 20%
    }
}

@media only screen and (max-width:767px) {
    .ServiceCarousel-container {
        overflow-x: scroll
    }
    .ServiceCarousel-card {
        padding: 0 calc(2.597% - 3.48px)/2;
        width: 128px;
        min-width: 40%
    }
}

@media only screen and (min-width:768px) {
    .theme-paddles .ServiceCarousel-paddle {
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 0 0 auto;
        width: 80px;
        fill: #8d9494;
        cursor: pointer
    }
    .theme-paddles .ServiceCarousel-paddle.theme-disabled {
        fill: #e1e3e3;
        cursor: default
    }
}

.theme-grid .ServiceCarousel-container {
    padding: 0
}

.theme-grid .ServiceCarousel-list {
    margin: 0 -8px
}

@media only screen and (max-width:767px) {
    .theme-grid .ServiceCarousel-list {
        margin-left: 8px
    }
}

.theme-grid .ServiceCarousel-paddle.paddle-left {
    margin-left: -80px
}

.theme-grid .ServiceCarousel-paddle.paddle-right {
    margin-right: -80px
}

@media only screen and (max-width:1023px) {
    .theme-grid .ServiceCarousel-paddle {
        width: 40px
    }
    .theme-grid .ServiceCarousel-paddle.paddle-left {
        margin-left: -40px
    }
    .theme-grid .ServiceCarousel-paddle.paddle-right {
        margin-right: -40px
    }
}

.Recommendations-header {
    margin-top: 20px;
    margin-bottom: 28px
}

.Recommendations-header.theme-post-request {
    text-align: center;
    margin-top: 60px;
    margin-bottom: 40px
}

.Recommendations-subtitle {
    margin-top: 12px;
    margin-bottom: 32px
}

.search-hero {
    background: #f7fafb;
    border: 1px solid #e6f0f2;
    padding-top: 24px;
    padding-bottom: 24px
}

.search-hero__box {
    position: relative;
    z-index: 1
}

.search-hero__title {
    font-size: 24px;
    line-height: 1.4;
    font-weight: 500;
    font-weight: 600!important;
    max-width: 700px;
    margin-bottom: 16px
}

@media (min-width:700px) {
    .search-hero__title {
        font-size: 32px;
        line-height: 1.3;
        font-weight: 500
    }
}

.search-hero__category {
    display: none;
    margin-top: 32px
}

@media (min-width:481px) {
    .search-hero {
        padding-top: 40px;
        padding-bottom: 40px;
        margin-bottom: 16px
    }
    .search-hero__title {
        margin-bottom: 24px
    }
    .search-hero__category {
        display: flex
    }
}

.search-hero__category__item {
    flex: auto;
    display: flex;
    justify-content: space-around;
    font-size: 14px
}

.search-hero__category__link {
    display: flex;
    align-items: center;
    transition: all .2s
}

.search-hero__category__link:hover {
    color: #f27802;
    fill: #f27802
}

.search-hero__category__icon {
    flex: none;
    fill: currentColor;
    margin-right: 8px
}

.search-hero__label {
    color: #FFF;
    font-weight: 500
}

.search-hero__label__text {
    display: none
}

@media (min-width:1025px) {
    .search-hero__label__text {
        display: inline-block
    }
}

.search-hero .search-hero--image__title {
    display: none
}

.search-hero--image {
    background-size: cover;
    background-repeat: no-repeat;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    max-width: 2000px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    position: relative
}

.search-hero--image:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, .3)
}

@media (min-width:481px) {
    .search-hero--image {
        margin-bottom: 60px;
        padding-top: 0
    }
}

.search-hero--image .search-hero__title {
    font-size: 14px;
    line-height: 1.6;
    font-weight: 500;
    display: none;
    max-width: none;
    margin-bottom: 16px;
    text-align: center
}

@media (min-width:700px) {
    .search-hero--image .search-hero__title {
        font-size: 16px;
        line-height: 1.6;
        font-weight: 500
    }
}

@media (min-width:481px) {
    .search-hero--image .search-hero__title {
        display: block
    }
}

.search-hero--image .search-hero__category {
    display: none
}

@media (min-width:481px) {
    .search-hero--image .search-hero__category {
        display: flex
    }
    .search-hero--image .search-hero__box {
        position: relative;
        top: 130px;
        background-color: #FFF;
        padding: 24px;
        border: 1px solid #e6f0f2;
        border-radius: 4px
    }
}

.search-hero--image .search-hero--image__title {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 16px;
    display: block;
    color: #FFF;
    text-align: center
}

@media (min-width:481px) {
    .search-hero--image .search-hero--image__title {
        display: none
    }
}

.ExploreHero {
    padding: 40px 0;
    background-color: #fafafa;
    border-bottom: 1px solid #e1e3e3
}

.ExploreHero-heading {
    color: #f27802;
    font-family: AvenirNext-Demi, AvenirNext-Regular, Arial, sans-serif;
    margin-bottom: 8px
}

.ExploreHero-subheading {
    font-family: AvenirNext-Regular, Arial, sans-serif
}

.ExploreHero-form {
    margin-top: 32px
}

@media only screen and (max-width:479px) {
    .ExploreHero {
        padding-top: 32px
    }
    .ExploreHero-heading {
        margin-bottom: 0
    }
    .ExploreHero-form {
        margin-top: 20px
    }
}

.project-link {
    background-color: #FFF;
    border-bottom: solid 1px #e6f0f2;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, .08);
    width: 100%;
    position: relative
}

.project-link__container {
    position: relative;
    display: flex;
    align-items: center;
    padding: 12px 0
}

.project-link__title {
    padding-right: 8px
}

.project-link__link {
    margin-left: auto
}

.explore-project {
    display: none
}

.explore-project.is-visible {
    display: block;
    position: fixed;
    top: 0;
    z-index: 61;
    width: 100%
}

.how-tt-works {
    background: #f7fafb
}

.how-tt-works.theme-cost-page {
    background: #FFF
}

.how-tt-works.experimental-instant-results-ui {
    background: 0 0
}

.how-tt-works__title {
    padding-top: 48px;
    text-align: center
}

.how-tt-works__title.theme-how-to {
    padding-top: 32px
}

.how-tt-works__step {
    padding: 24px 0;
    margin: 0 auto;
    align-items: center;
    text-align: center
}

.how-tt-works__explanation {
    padding: 0 12px
}

.how-tt-works__circle {
    flex: none;
    width: 68px;
    height: 68px;
    border-radius: 50%;
    background: #f27802;
    text-align: center;
    margin: 0 auto 16px;
    padding-top: 16px
}

.how-tt-works__circle.theme-cost-page {
    background: #62cca7
}

.how-tt-works.theme-how-to,
.how-tt-works.theme-new-home-page {
    background: #FFF
}

.how-tt-works.theme-explore {
    background: #FFF;
    padding-top: 40px;
    padding-bottom: 72px
}

.BelowHeader1Container,
.BelowHeader2Container {
    background-color: #fff;
    border-bottom: solid 1px #e1e3e3
}

.how-tt-works.theme-near-me-page {
    padding-bottom: 40px
}

.how-tt-works.theme-cost-page .how-tt-works__step,
.how-tt-works.theme-reduced .how-tt-works__step {
    display: flex;
    text-align: left;
    align-items: flex-start
}

@media (max-width:481px) {
    .how-tt-works__step {
        max-width: 200px
    }
    .how-tt-works.theme-cost-page,
    .how-tt-works.theme-reduced {
        padding-bottom: 24px
    }
    .how-tt-works.theme-cost-page .how-tt-works__step,
    .how-tt-works.theme-reduced .how-tt-works__step {
        padding-bottom: 0;
        max-width: 100%
    }
}

.how-tt-works.theme-cost-page .how-tt-works__step.experimental-instant-results-ui,
.how-tt-works.theme-reduced .how-tt-works__step.experimental-instant-results-ui {
    padding-top: 16px;
    padding-bottom: 0
}

.how-tt-works.theme-cost-page .how-tt-works__circle,
.how-tt-works.theme-reduced .how-tt-works__circle {
    width: 36px;
    height: 36px;
    display: block;
    padding-top: 0
}

.BelowHeader1Container[data-is-visible=false],
.BelowHeader2Container[data-is-visible=false],
.InstallNativeAppHeader[data-is-visible=false] {
    display: none
}

.how-tt-works.theme-cost-page .how-tt-works__icon svg,
.how-tt-works.theme-reduced .how-tt-works__icon svg {
    margin-top: 10px;
    fill: #FFF
}

.how-tt-works.theme-cost-page .how-tt-works__explanation,
.how-tt-works.theme-reduced .how-tt-works__explanation {
    flex-grow: 1
}

.BelowHeader2Container {
    border-top: solid 1px #e1e3e3
}

.InstallNativeAppHeader {
    background-color: #f27802;
    position: relative;
    height: 60px;
    width: 100%
}

.InstallNativeAppHeader-title {
    position: absolute;
    color: #fff;
    line-height: 60px;
    left: 28px
}

.InstallNativeAppHeader-iconWrapper {
    position: absolute;
    right: 48px;
    top: 13px
}

.InstallNativeAppHeader-iconWrapper>a>img {
    width: 115px
}

.InstallNativeAppHeader-closeButtonWrapper {
    position: absolute;
    right: 16px;
    top: 18px;
    cursor: pointer
}

.InstallNativeAppHeader-closeButtonWrapper svg {
    fill: #fff
}

@media only screen and (min-width:768px) {
    .InstallNativeAppHeader {
        display: none
    }
    .InstallNativeAppBelowHeader1Desktop {
        height: 60px;
        width: 100%;
        position: relative
    }
    .InstallNativeAppBelowHeader1Desktop-title {
        position: absolute;
        color: #4e4d4d;
        line-height: 60px;
        left: 0
    }
    .InstallNativeAppBelowHeader1Desktop-iconWrapper {
        position: absolute;
        right: 40px;
        top: 13px
    }
    .InstallNativeAppBelowHeader1Desktop-iconWrapper>a>img {
        width: 115px
    }
    .InstallNativeAppBelowHeader1Desktop-closeButtonWrapper {
        position: absolute;
        right: 0;
        top: 18px;
        cursor: pointer
    }
    .InstallNativeAppBelowHeader1Desktop-closeButtonWrapper svg {
        fill: #bdc4c4
    }
}

@media only screen and (max-width:767px) {
    .InstallNativeAppBelowHeader1Desktop {
        display: none
    }
    .InstallNativeAppBelowHeader1Mobile {
        height: 96px;
        width: 100%;
        background-color: #fff;
        line-height: 60px;
        position: relative
    }
    .InstallNativeAppBelowHeader1Mobile-title {
        padding-top: 16px;
        padding-bottom: 8px;
        color: #4e4d4d;
        text-align: center
    }
    .InstallNativeAppBelowHeader1Mobile-iconWrapper {
        text-align: center
    }
    .InstallNativeAppBelowHeader1Mobile-iconWrapper-icon>img {
        display: inline-block;
        width: 119px
    }
    .InstallNativeAppBelowHeader1Mobile-closeButtonWrapper {
        position: absolute;
        right: 8px;
        top: 36px;
        cursor: pointer
    }
    .InstallNativeAppBelowHeader1Mobile-closeButtonWrapper svg {
        fill: #bdc4c4
    }
    .InstallNativeAppBelowHeader2Desktop {
        display: none
    }
}

@media only screen and (min-width:768px) {
    .InstallNativeAppBelowHeader1Mobile {
        display: none
    }
    .InstallNativeAppBelowHeader2Desktop {
        height: 85px;
        width: 100%;
        position: relative
    }
    .InstallNativeAppBelowHeader2Desktop-title {
        position: absolute;
        top: 26px
    }
    .InstallNativeAppBelowHeader2Desktop-iconWrapper {
        position: absolute;
        right: 0;
        top: 25px
    }
    .InstallNativeAppBelowHeader2Desktop-iconWrapper>a>img {
        width: 115px
    }
}

@media only screen and (max-width:767px) {
    .InstallNativeAppBelowHeader2Mobile {
        height: 96px;
        width: 100%
    }
    .InstallNativeAppBelowHeader2Mobile-titleWrapper {
        margin-top: 24px;
        margin-bottom: 8px;
        text-align: center
    }
    .InstallNativeAppBelowHeader2Mobile-titleWrapper-text {
        vertical-align: top
    }
    .InstallNativeAppBelowHeader2Mobile-iconWrapper {
        text-align: center
    }
    .InstallNativeAppBelowHeader2Mobile-iconWrapper>a>img {
        width: 119px;
        display: inline-block
    }
}

@media only screen and (min-width:768px) {
    .InstallNativeAppBelowHeader2Mobile {
        display: none
    }
}

.customer-app-upsell-banner {
    background-color: #FFF;
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
    z-index: 100;
    padding: 20px;
    box-shadow: 0 -3px 6px 0 rgba(0, 0, 0, .12)
}

.customer-app-upsell-banner__wrapper {
    padding-bottom: 16px;
    display: flex;
    flex-direction: row
}

.customer-app-upsell-banner__right {
    display: flex;
    flex-direction: column;
    padding-left: 8px
}

.customer-app-upsell-banner__icon-container {
    height: 44px;
    width: 44px;
    position: relative;
    background-color: #f27802;
    border-radius: 25%;
    display: flex;
    align-items: center;
    justify-content: center
}

.customer-app-upsell-banner__icon svg {
    fill: #FFF
}

.customer-app-upsell-banner__title {
    padding-left: 2px
}

.customer-app-upsell-banner__review {
    display: flex;
    padding-top: 2px
}

.customer-app-upsell-banner__review-number {
    padding-left: 8px
}

.customer-app-upsell-banner__close {
    position: absolute;
    right: 16px;
    top: 16px;
    cursor: pointer
}

.customer-app-upsell-banner__close svg {
    fill: #ced6d9
}

.customer-app-upsell-banner[data-is-visible=false] {
    display: none
}

.carousel__item,
.carousel__row {
    display: flex;
    position: relative
}

.carousel {
    position: relative
}

.carousel__wrap {
    overflow-y: hidden;
    margin-left: -16px;
    margin-right: -16px;
    padding-bottom: 4px;
    margin-top: -2px;
    -webkit-overflow-scrolling: touch
}

.carousel__row {
    overflow-y: hidden;
    margin-bottom: -30px;
    padding-top: 2px
}

@media (min-width:481px) {
    .carousel {
        right: 0
    }
    .carousel__wrap {
        overflow: hidden;
        margin-left: -8px;
        margin-right: -8px
    }
    .carousel__row {
        margin-bottom: 0;
        overflow-y: visible
    }
}

.carousel__row.is-moving-backward,
.carousel__row.is-moving-forward {
    transition: .3s -webkit-transform;
    transition: .3s transform;
    transition: .3s transform, .3s -webkit-transform
}

.carousel__row.is-moving-forward {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%)
}

.carousel__row.is-moving-backward {
    left: -100%;
    -webkit-transform: translateX(100%);
    transform: translateX(100%)
}

.carousel__item {
    background: #FFF;
    min-width: 58%;
    padding: 0 8px 30px
}

.carousel__item:first-child {
    margin-left: 16px
}

@media (min-width:481px) {
    .carousel__item {
        padding-bottom: 0;
        min-width: 50%
    }
    .carousel__item:first-child {
        margin-left: 0
    }
}

@media (min-width:700px) {
    .carousel__item {
        min-width: 33.33%
    }
}

@media (min-width:1025px) {
    .carousel__item {
        min-width: 25%;
        padding-bottom: 0
    }
}

.carousel__control {
    display: none
}

@media (min-width:481px) {
    .carousel__control {
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        width: 36px;
        height: 36px;
        border-radius: 50%;
        background: #fff;
        box-shadow: 0 -1px 1px 0 rgba(0, 0, 0, .04), 0 1px 2px 0 rgba(0, 0, 0, .3)
    }
    .carousel__control__icon.IconContainer.theme-medium {
        width: 18px;
        height: 18px
    }
    .carousel__control--left {
        left: -20px
    }
    .carousel__control--left .carousel__control__icon {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
        margin-left: -1px
    }
    .carousel__control--right {
        right: -20px
    }
}

@media (min-width:481px) and (min-width:1025px) {
    .carousel__control--left {
        left: -42px
    }
    .carousel__control--right {
        right: -42px
    }
}

@media (min-width:481px) {
    .carousel__control--right .carousel__control__icon {
        margin-right: -1px
    }
}

.category-card {
    position: relative;
    box-shadow: 0 -1px 1px 0 rgba(0, 0, 0, .04), 0 1px 2px 0 rgba(0, 0, 0, .16);
    border-radius: 4px;
    width: 100%
}

.category-card__link,
.category-card__link:active,
.category-card__link:hover,
.category-card__link:link,
.category-card__link:visited {
    color: inherit;
    fill: inherit
}

.category-card__top {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px
}

.category-card__image {
    padding-top: 56.25%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center
}

.category-card__section {
    padding: 8px 12px
}

.category-card__row {
    margin-top: 8px;
    margin-bottom: 8px
}

.category-card__media {
    display: flex;
    align-items: center
}

.category-card__heart {
    position: absolute;
    top: 8px;
    right: 8px
}

.category-card__heart__input:checked+.service-card__heart__icon {
    fill: #f16a4f
}

.category-card__heart__input:checked+.service-card__heart__icon:hover {
    -webkit-transform: scale(1);
    transform: scale(1)
}

.category-card__heart__icon:hover {
    -webkit-transform: scale(1.25);
    transform: scale(1.25)
}

.category-card__heart__icon:active {
    -webkit-transform: scale(1.6);
    transform: scale(1.6)
}

.category-card__heart__input {
    display: none
}

.category-card__heart__icon {
    width: 30px;
    height: 30px;
    transition: fill .2s, -webkit-transform .2s;
    transition: transform .2s, fill .2s;
    transition: transform .2s, fill .2s, -webkit-transform .2s;
    cursor: pointer;
    fill: #ced6d9;
    display: block
}

.category-card__icon {
    flex: none
}

.category-card__icon--sky {
    fill: #3f93f3
}

.category-card__pill {
    border-radius: 9999px;
    background: #3f93f3;
    color: #FFF;
    font-size: 14px;
    padding: 5px 8px;
    line-height: 1;
    display: inline-block;
    font-weight: 600
}